{% extends "base.html" %}


{% block moreScripts %}
	<link rel="stylesheet" href="/static/css/main/note.css">

    <!-- Icons-->

{% endblock %}

{% block content %}
    <div class="note" id="note">
        <div class="note-title" id="note-title" contenteditable="true" aria-multiline="true" role="textbox" aria-label="Title" tabindex="0" placeholder="Title"></div><hr>
        <div class="note-content" id="note-content" contenteditable="true" aria-multiline="true" role="textbox" aria-label="Note" tabindex="0" placeholder="Write something..."></div>
        <div class="note-toolbar">
            <div role="button" id="addList">add List</div>
        </div>
    </div>


{% endblock %}
