[contenteditable] {
  outline: 0 solid transparent;
}
.note{
  border: 2px var(--clr-dark) solid;
  border-radius: var(--br-ta);
  height: var(--note-ht);
  margin: 32px auto auto;
  width: 600px;
  max-height: 700px;
  box-shadow: 0 3px 5px var(--clr-dark);
}

.note-title{
  padding: 10px 15px;
  letter-spacing: .00625em;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: inherit;
}
.note hr{
  margin: -5px 10px 10px 10px;

}
.note-content{
  padding: 10px 15px;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  word-break: break-all;
  max-height: 608px;
  overflow-y: scroll;
}
.note-toolbar{
  margin: 4px 0;
  height: 36px;
  padding: 0 15px;
  border-radius: inherit;
  position: fixed;
}

/* placeholder for note */
.note [placeholder]:empty::before{
  content: attr(placeholder);
  color: var(--clr-text);
  opacity: var(--clr-text-op);
}
.note [placeholder]:empty:focus::before{
  content: "";
}

i {
  z-index: 100;
}
